body
{
background-image:url('home2.jpg');
}
#mymenu
{
background-color:rgba(0,0,0,0.20);
color:white;
text-align:right;
}
#mymenu ul li
{
display:inline-block;
padding:20px;
text-decoration:none;
}
#mymenu ul li:hover
{
background:rgb(47, 125, 194);
}
table
{
margin-top:150px;
background-color:rgba(0,0,0,0.5);
color:white;
box-shadow:15px 15px 15px rgb(6, 0, 0);
}
.B
{
background:linear-gradient(red,blue);
color:white;
padding:5px;
border-radius:0px 10px 0px 10px;
}
.B:hover
{
background:linear-gradient(blue,red);
color:white;
padding:5px;
border-radius:10px 0px 10px 0px;
}
.A
{
border-radius:20px;
}