body
{
background-image:url('login.jpg');
}
#mymenu
{
background-color:rgba(0,0,0,0.5);
color:white;
text-align:right;
}
#mymenu ul li
{
display:inline-block;
padding:20px;
}
#mymenu ul li:hover
{
background:black;
}
table
{
margin-top:200px;
background-color:rgba(0,0,0,0.2);
color:white;
box-shadow:15px 15px 15px black;
}
.B
{
background:linear-gradient(red,blue);
color:white;
padding:5px;
border-radius:0px 10px 0px 10px;
}
.B:hover
{
background:linear-gradient(blue,red);
color:white;
padding:5px;
border-radius:10px 0px 10px 0px;
}
.A
{
border-radius:20px;
}