<web-app>

<servlet>
<servlet-name>ajava88</servlet-name>
<servlet-class>logindemo2</servlet-class>
</servlet>

<servlet>
<servlet-name>ek1</servlet-name>
<servlet-class>logindemo3</servlet-class>
</servlet>

<servlet>
<servlet-name>ek2</servlet-name>
<servlet-class>register</servlet-class>
</servlet>

<servlet>
<servlet-name>ek3</servlet-name>
<servlet-class>insswt</servlet-class>
</servlet>

<servlet>
<servlet-name>ek4</servlet-name>
<servlet-class>showall1</servlet-class>
</servlet>

<servlet>
<servlet-name>ek5</servlet-name>
<servlet-class>newinsert</servlet-class>
</servlet>

<servlet>
<servlet-name>ek6</servlet-name>
<servlet-class>showall3</servlet-class>
</servlet>

<servlet>
<servlet-name>ek7</servlet-name>
<servlet-class>register</servlet-class>
</servlet>

<servlet>
<servlet-name>ek8</servlet-name>
<servlet-class>newshowall</servlet-class>
</servlet>

<servlet>
<servlet-name>ek9</servlet-name>
<servlet-class>newinsert1</servlet-class>
</servlet>

<servlet>
<servlet-name>ek10</servlet-name>
<servlet-class>showallshow</servlet-class>
</servlet>

<servlet>
<servlet-name>ek11</servlet-name>
<servlet-class>inserthome</servlet-class>
</servlet>

<servlet>
<servlet-name>ek12</servlet-name>
<servlet-class>showallmarks</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ajava88</servlet-name>
<url-pattern>/lg2</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek1</servlet-name>
<url-pattern>/lg3</url-pattern>
</servlet-mapping>



<servlet-mapping>
<servlet-name>ek2</servlet-name>
<url-pattern>/ak</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek3</servlet-name>
<url-pattern>/sas</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek4</servlet-name>
<url-pattern>/sa</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek5</servlet-name>
<url-pattern>/nn</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek6</servlet-name>
<url-pattern>/sa3</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek7</servlet-name>
<url-pattern>/lg4</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek8</servlet-name>
<url-pattern>/lg5</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>ek9</servlet-name>
<url-pattern>/n1</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek10</servlet-name>
<url-pattern>/n12</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek11</servlet-name>
<url-pattern>/g1</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ek12</servlet-name>
<url-pattern>/g2</url-pattern>
</servlet-mapping>

</web-app>